.landing-page{
    
}

/* .landing-page .red-nav{
    background-color: #E43C5C !important;
} */
/* .landing-page .navbar-light .navbar-brand.name {
    color: white !important;
} */
.landing-page .navbar-light .navbar-toggler{

}
.landing-page .search-area{
    display: none;
}
.landing-page .event-page-options{
    display: none;
}
.landing-page .hero-section{
    background-color:#666666 !important;
}
.landing-page .hero-section>div{
}
.landing-page .hero-section .welcome{
    background-color: #767676;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 50px;
}
.landing-page .hero-section .tagline{
    color: #E7ECF0;
    font-size: 14px;
}
.landing-page .hero-section button{
    border-radius: 50px;
    padding: 5px 20px;
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    transition: 0.7s;
    cursor: pointer;
}
.landing-page .hero-section button:hover{
    background-color: #E43C5C;
}
.landing-page .apps{}
.landing-page .apps .show-case{
    padding: 5px 20px;
    background-color: #FDEFF2;
    color: #ED8088;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}
.landing-page .apps>div{}
.landing-page .apps .box{
    margin-top: 20px;
    padding: 5px;
    color: black;
    transition: 0.7s;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
}
.landing-page .apps .box:hover{
    transform: scale(1.05);
}
.landing-page .apps .box .box-img{}
.landing-page .apps .box .box-img img{
    max-width: 80%;
    margin: 35px 5px;
}
.landing-page .apps .box .box-body{}
.landing-page .apps .box .box-body h4{
    color: black;
}
.landing-page .apps .box .box-body p{
    font-size: 14px;
    text-align: center;
}

.landing-page .work{
    margin-top: 100px;
}
.landing-page .work .show-case{
    padding: 5px 20px;
    background-color: #FDEFF2;
    color: #ED8088;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}
.landing-page .work>div{}
.landing-page .work .box{
    margin-top: 20px;
    padding: 5px;
    color: black;
    transition: 0.7s;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
}
.landing-page .work .box:hover{
    transform: scale(1.05);
}
.landing-page .work .box .box-img{}
.landing-page .work .box .box-img img{
    max-width: 80%;
    margin: 35px 5px;
}
.landing-page .work .box .box-body{}
.landing-page .work .box .box-body h4{
    color: black;
}
.landing-page .work .box .box-body p{
    font-size: 14px;
    text-align: center;
}


.landing-page .about{
    margin-top: 100px;
}
.landing-page .about .show-case{
    padding: 5px 20px;
    background-color: #FDEFF2;
    color: #ED8088;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}
.landing-page .about>div>div{
    text-align: justify;
    padding: 35px;
}

.landing-page .about button{
    color: #EB7286;
    border: 1px solid;
    padding: 5px 20px;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
}

.landing-page .team{
    margin-top: 100px;
}
.landing-page .team .show-case{
    padding: 5px 20px;
    background-color: #FDEFF2;
    color: #ED8088;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}
.landing-page .team>div{}
.landing-page .team .box{
    margin-top: 20px;
    color: black;
    transition: 0.7s;
    cursor: pointer;
    height: 100%;
    -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
}
.landing-page .team .box:hover{
    transform: scale(1.05);
}
.landing-page .team .box .box-img{}
.landing-page .team .box .box-img img{
    width: 100%;
    /* margin: 35px 5px; */
}
.landing-page .team .box .box-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;

}
.landing-page .team .box .box-body h4{
    color: black;
    font-size: 18px;
}
.landing-page .team .box .box-body p{
    font-size: 14px;
    text-align: center;
}
.landing-page .team .box .box-body .profession{
    font-size: 14px;
    text-align: center;
    color: gray;
}
.landing-page .contact{
    margin-top: 100px;
}
.landing-page .contact .show-case{
    padding: 5px 20px;
    background-color: #FDEFF2;
    color: #ED8088;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}
.landing-page .contact iframe{
    width: 100%;
}
.landing-page .contact .form-col-first{

}
.landing-page .contact .form-col-first>div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.landing-page .contact .form-col-first>div>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.landing-page .contact .form-col-first .icon{
    background-color: #ebabc9;
    padding: 9px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    height: 55px;
    width: 55px;
}
.landing-page .contact .form-col-first i{
    color: #E33B5B;
    font-size: 30px;

}
.landing-page .contact .form-col-first h4{
    color: black;
    margin: 0;
}
.landing-page .contact .form-col-first>div>div>p{
    text-align: left;
    margin-bottom: 0;

}

.landing-page .contact .form-row{

}
.landing-page .contact .form-row input{
    width: 100%;
    margin: 10px 5px;
    color: gray;
    height: 40px;
    padding: 5px 10px;
}
.landing-page .contact .form-row input:focus{
    outline: none;
    border: 1px solid #E43C5C;
}
.landing-page .contact .form-row textarea{
    width: 100%;
    margin: 10px 5px;
    color: gray;
    padding: 5px 10px;
    height: 100px;
    resize: none;
}
.landing-page .contact .form-row textarea:focus{
    outline: none;
    border: 1px solid #E43C5C;
}
.landing-page .contact .form-row button{
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    background-color: #E43C5C;
    color: white;
    margin: 10px;
}

.landing-page .sub-footer{
    -webkit-box-shadow: 2px -1px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -1px 14px -5px rgba(0,0,0,0.75);
    box-shadow: 2px -1px 14px -5px rgba(0,0,0,0.75);
}
.landing-page .sub-footer>div{}
.landing-page .sub-footer>div>div{}
.landing-page .sub-footer>div>div>div{
    text-align: left !important;
    margin-bottom: 20px;
}

.landing-page .sub-footer .links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.landing-page .sub-footer .links i{
    color: #E43C5C;
    font-size: 20px;
    margin: 5px;
}
.landing-page .sub-footer .links a{
    text-decoration: none;
    color: gray;
    margin: 10px;
    margin-left: 0;
}
.landing-page .sub-footer .newsletter{
    width: 100%;
    display: flex;
    border: 1px solid #E43C5C;
    align-items: center;
    justify-content: start;
    border-radius: 20px;
    margin-top: 20px;
}
.landing-page .sub-footer .newsletter input{
    width: fit-content;
    border: none;
    margin-left: 5px;
}
.landing-page .sub-footer .newsletter button{
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    background-color: #E43C5C;
    color: white;
    border: 1px solid #E43C5C;
}